@use '../global/mixins' as *;
@use '../global/global' as *;
@use '../theme/type' as *;
@use '../theme/buttons' as *;

.accordion {
  background: rgba(122 166 225 / 20%);
  padding: var(--section-padding-mobile);

  @include breakpoint(lg) {
    padding: var(--section-padding-desktop);
  }

  &__wrapper {
    max-width: 880px;
    margin: 0 auto;
  }

  &--heading {
    @extend %heading-large;

    color: var(--color-primary);
    text-align: center;
    margin-bottom: 2rem;
  }

  &--text {
    text-align: center;
    color: var(--color-primary);
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .maweo-accordion-button {
    width: 100%;
    padding: 0.8rem 1.5rem;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--text-font-size);
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: left;

    @include breakpoint(md) {
      padding: 1rem 2rem;
    }

    &:hover {
      background-color: var(--color-primary);
    }

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  .accordion-icon {
    // bootstrap icon size
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--color-white);
  }

  .maweo-accordion-button[aria-expanded='true'] {
    .flip {
      transform: scale(-1, -1);
      transition: transform 0.2s ease-in-out;
    }

    .rotate {
      transform: rotate(90deg);
      transition: transform 0.2s ease-in-out;
    }

    .small-rotate {
      transform: rotate(45deg);
      transition: transform 0.2s ease-in-out;
    }
  }

  .accordion-item {
    margin-bottom: 1rem;
    border: none;

    .accordion-body {
      padding: 1.5rem;
      color: var(--color-primary);
      font-weight: bold;
      font-size: var(--text-font-size);

      @include breakpoint(md) {
        padding: 2rem;
      }
    }

    .accordion-row {
      display: flex;
      justify-content: space-between;
    }
  }

  .image-wrapper {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    margin-top: 1rem;

    @include breakpoint(md) {
      width: 100%;
      height: 100%;
      max-height: 350px;
      object-fit: cover;
      margin-top: auto;
    }
  }
}
