@use '../theme/type' as *;
@use '../theme/buttons' as *;
@use '../global/mixins' as *;

.contact {
  padding: 80px 0;
  position: relative;

  &__text {
    font-size: 1rem;
    padding-top: 1rem;
    margin-bottom: 2rem;
    color: var(--color-primary);
  }

  &__info {
    padding: 2rem;
    background: var(--color-secondary-light);
    text-align: left;
    color: var(--color-primary);

    @include breakpoint(lg) {
      max-width: 500px;
    }

    &--img {
      height: 1.5rem;
      margin-bottom: 0.5rem;
    }

    &--title {
      font-size: 1rem;
      font-weight: 800;
      line-height: 1.2;
      margin-bottom: 0.5rem;

      @include breakpoint(lg) {
        font-size: 1.25rem;
      }
    }

    &--text {
      line-height: 1.2;
      font-weight: 600;
    }
  }

  &__form {
    &-heading {
      @extend %heading-large;

      color: var(--color-primary);
    }

    &-text {
      font-size: 1rem;
      line-height: 1.25rem;
      padding-bottom: 25px;
      color: var(--color-primary);

      @include breakpoint(lg) {
        font-size: 0.875rem;
        line-height: 1.375rem;
      }
    }

    &-note {
      color: var(--color-black);
      font-size: 1rem;
      line-height: 1.375;
    }

    &-label {
      font-weight: 600;
      font-size: 0.875rem;
      color: var(--color-black);
      width: 100%;
    }

    &-acceptance {
      /* stylelint-disable */
      display: flex !important;
      /* stylelint-enable */
      margin-top: 10px;

      .wpcf7-list-item {
        margin: unset;
      }

      .wpcf7-form-control-wrap {
        margin-right: 6px;
      }

      a {
        color: var(--color-black);
        margin: 0 6px;
      }
    }
  }

  label {
    width: 100%;
  }

  /* stylelint-disable */
  input[type='text'],
  input[type='email'],
  textarea {
    background-color: var(--color-white);
    color: var(--color-black);
    border: 1px solid var(--color-primary);
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100% !important;
    max-width: 100%;
    padding: 10px;
    outline: none;

    &:focus {
      border: 1px solid var(--color-primary);
    }

    @include breakpoint(lg) {
      margin-top: 5px;
      margin-bottom: 10px;
      min-width: 100%;
      padding: 10px;
    }
  }

  input[type='submit'] {
    @extend %button;

    display: block;
    margin-top: 40px;
    min-width: 200px;

    @include breakpoint(lg) {
      margin-top: 24px;
    }
  }
  /* stylelint-enable */
}

/* stylelint-disable */

input[type='checkbox'] {
  margin-right: 5px;
  margin-bottom: 10px;
}

.wpcf7-acceptance {
  margin-left: 0 !important;
}
.wpcf7 form .wpcf7-response-output {
  margin: 10px 0;
  padding: 16px 50px;
}

.wpcf7 form.sent .wpcf7-response-output,
.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form .wpcf7-response-output {
  border-color: red;
}

.wpcf7-not-valid {
  border: 2px solid red !important;
  margin-bottom: 10px !important;
}

.wpcf7-not-valid-tip {
  color: red;
  margin-bottom: 25px;
}
/* stylelint-enable */
