@use '../theme/type' as *;
@use '../theme/buttons' as *;
@use '../global/mixins' as *;

.contact-person {
  padding: var(--section-padding-mobile);

  @include breakpoint(lg) {
    padding: var(--section-padding-desktop);
  }

  &--color {
    background: var(--color-secondary-light);
  }

  &__heading {
    @extend %heading-large;

    margin: 0 0 37px;
    text-align: center;

    @include breakpoint(lg) {
      margin: 0 0 50px;
    }
  }

  &__wrapper {
    background-color: var(--color-secondary-light);
    padding: 79px 25px;
    display: flex;
    gap: 35px;
    flex-wrap: wrap;

    @include breakpoint(lg) {
      gap: 76px;
      padding: 86px 138px 122px;
      flex-wrap: nowrap;
    }

    &--color {
      background-color: var(--color-white);
    }
  }

  &__data {
    order: 1;

    @include breakpoint(lg) {
      width: 66%;
      order: 0;
    }
  }

  &__name {
    @extend %heading-small;

    display: block;
    margin-bottom: 12px;
    text-align: center;

    @include breakpoint(lg) {
      text-align: left;
      margin-bottom: 24px;
    }
  }

  &__text {
    @extend %text;

    margin-bottom: 20px;
    text-align: center;

    @include breakpoint(lg) {
      text-align: left;
      margin-bottom: 30px;
    }
  }

  &__image {
    width: 100px;
    height: 100px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 33px;

    @include breakpoint(lg) {
      width: auto;
      max-width: calc(33% - 76px);
      height: 100%;
      margin: 0;
    }
  }

  &__contact-links {
    display: flex;
    flex-direction: column;
    gap: 17px;

    @include breakpoint(lg) {
      gap: 20px;
    }
  }

  &__contact-link {
    color: var(--color-primary);
    text-decoration: underline;
    font-size: 1rem;
    text-align: center;

    @include breakpoint(lg) {
      text-align: left;
      text-decoration: none;
      font-weight: 700;
    }

    &:hover {
      color: var(--color-primary);
      text-decoration: none;
    }
  }
}
