@use '../global/mixins' as *;

.google-map {
  padding: var(--section-padding-mobile);

  @include breakpoint(lg) {
    padding: var(--section-padding-desktop);
  }

  &__map {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;

    @include breakpoint(lg) {
      height: 600px;
      aspect-ratio: unset;
    }
  }
}
