@use '../global/mixins' as *;
@use '../global/global' as *;
@use '../theme/type' as *;
@use '../theme/buttons' as *;

.hero {
  position: relative;
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;

  &__content {
    position: relative;
    z-index: 2;
  }

  &__heading {
    @extend %heading-x-large;

    margin-bottom: 2rem;
    color: var(--color-primary);
    line-height: 1;
  }

  &__subheading-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__subheading {
    @extend %sub-heading;

    color: var(--color-gold);

    @include breakpoint(lg) {
      font-size: 2rem;
    }
  }

  &__subheading-image {
    height: auto;
    width: 2rem;

    @include breakpoint(lg) {
      width: 2.5rem;
    }
  }

  &__link-wrapper {
    display: flex;
    gap: 0.5rem;
    margin-top: 2rem;
  }

  &__link {
    @extend %button;

    display: block;
    width: fit-content;
  }

  &__link-secondary {
    @extend %button-secondary;

    display: block;
    width: fit-content;
  }

  &--height {
    min-height: 100%;

    &--half {
      min-height: 55vh;
    }

    &--full {
      min-height: 90vh;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(255 255 255 / 2%);

    @include breakpoint(lg) {
      background-color: none;
    }
  }

  &__background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(2px);

    @include breakpoint(lg) {
      background-position: center;
      filter: blur(0);
    }
  }
}
