@use '../global/mixins' as *;
@use '../global/global' as *;
@use '../theme/type' as *;
@use '../theme/buttons' as *;

.hero {
  position: relative;
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;

  &__content {
    position: relative;
    z-index: 2;
  }

  &__heading {
    @extend %heading-large;

    &--light {
      color: var(--color-black);
    }

    &--dark {
      color: var(--color-white);
    }
  }

  &__text {
    // for text color -> opposite of overlay
    &--light {
      color: var(--color-black);
    }

    &--dark {
      color: var(--color-white);
    }
  }

  &__button {
    width: fit-content;
  }

  &__link {
    @extend %button;

    display: block;
    margin-top: 40px;

    @include breakpoint(lg) {
      margin-top: 42px;
    }
  }

  &--height {
    min-height: 100%;

    &--half {
      height: 50vh;
    }

    &--full {
      height: 100vh;

      // TODO: - header height
    }
  }

  // overlay: image & video
  &__overlay {
    &--light {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background-color: var(--color-background-overlay-light);
    }

    &--dark {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background-color: var(--color-background-overlay-dark);
    }
  }

  &__background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__background-video {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &--primary {
      background-color: var(--color-primary);
    }

    &--secondary {
      background-color: var(--color-secondary);
    }
  }

  &__carousel-fullscreen {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    .carousel-inner {
      height: 100%;
    }
  }

  .carousel-inner {
    .carousel-item {
      background-color: var(--color-primary);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      width: 100%;
      position: relative;
      z-index: -1;
    }
  }

  // bootstrap 5 carousel arrow position
  .carousel-control-prev {
    left: 0;
    width: 5%;
  }

  .carousel-control-next {
    right: 0;
    width: 5%;
  }
}
