@use '../theme/type' as *;
@use '../theme/buttons' as *;
@use '../global/mixins' as *;

.image-text {
  position: relative;
  padding: var(--section-padding-mobile);

  @include breakpoint(lg) {
    padding: var(--section-padding-desktop);
  }

  &__content {
    @include breakpoint(lg) {
      min-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__icon {
    width: 4rem;
    object-fit: contain;
    margin-bottom: 0.8rem;
  }

  &__heading {
    @extend %heading-large;

    &--light {
      color: var(--color-secondary);
    }

    &--dark {
      color: var(--color-primary);
    }
  }

  &__sub-heading {
    @extend %sub-heading;

    color: var(--color-primary);
  }

  &__text {
    margin-top: 20px;
    color: var(--color-primary);
  }

  &__link {
    @extend %button-secondary;

    display: block;
    margin-top: 2rem;
  }

  &__image {
    margin-bottom: 2rem;
    width: 100%;
    height: 100%;
    max-height: 380px;
    object-fit: cover;

    @include breakpoint(lg) {
      margin-bottom: 0;
      max-height: 100%;
    }
  }
}
