@use '../theme/type' as *;
@use '../theme/buttons' as *;
@use '../global/mixins' as *;

.image-text {
  padding: 60px 0;

  @include breakpoint(lg) {
    padding: 100px 0;
  }

  &__icon {
    height: 3rem;
    object-fit: contain;
    margin-bottom: 0.8rem;
  }

  &__heading {
    @extend %heading-large;

    color: var(--color-secondary);
    margin-bottom: 1rem;
  }

  &__link {
    @extend %button-secondary;

    display: block;
    margin-top: 40px;
  }

  &__image {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    margin-bottom: 1.5rem;

    @include breakpoint(lg) {
      max-height: 500px;
      margin-bottom: 0;
    }
  }
}
