@use '../global/mixins' as *;
@use '../global/global' as *;
@use '../theme/type' as *;
@use '../theme/buttons' as *;

.link-banner {
  position: relative;
  padding: 60px 0;

  @include breakpoint(lg) {
    padding: 80px 0;
  }

  &--background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--color-background-overlay-light);
  }

  &--background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &--background-primary {
    background-color: var(--color-primary);
  }

  &--background-secondary {
    background-color: var(--color-secondary);
  }

  &--heading {
    @extend %heading-large;
  }

  &--subheading {
    @extend %sub-heading;
  }

  &--text {
    padding-top: 50px;
    max-width: 880px;
    margin: 0 auto;
  }

  &--button {
    @extend %button;
    @extend %button-cta;

    display: block;
    margin-top: 40px;

    @include breakpoint(lg) {
      margin-top: 42px;
    }
  }
}
