@use '../global/mixins' as *;
@use '../global/global' as *;
@use '../theme/type' as *;
@use '../theme/buttons' as *;

.link-banner {
  position: relative;
  padding: var(--section-padding-mobile);

  @include breakpoint(lg) {
    padding: calc(var(--section-padding-desktop) * 1.5);
  }

  &--background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(255 255 255 / 100%);

    &--left-to-right {
      background: linear-gradient(90deg, rgba(255 255 255 / 90%) 15%, rgba(255 255 255 / 0%) 100%);
    }

    &--right-to-left {
      background: linear-gradient(270deg, rgba(255 255 255 / 90%) 15%, rgba(255 255 255 / 0%) 100%);
    }
  }

  &--heading {
    @extend %heading-large;

    color: var(--color-primary);
  }

  &--text {
    padding-top: 1rem;
    color: var(--color-primary);
  }

  &--button {
    @extend %button;

    display: block;
    margin-top: 2rem;
  }
}
