@use '../global/mixins' as *;
@use '../global/global' as *;
@use '../theme/type' as *;
@use '../theme/buttons' as *;

.logo-repeater {
  position: relative;
  text-align: center;
  padding: var(--section-padding-mobile);

  @include breakpoint(lg) {
    padding: var(--section-padding-desktop);
  }

  &--grey {
    background-color: var(--color-secondary-light);
  }

  &--heading {
    @extend %heading-large;
  }

  &--subheading {
    @extend %sub-heading;

    color: var(--color-primary);
  }

  &--text {
    padding-top: 1rem;
    max-width: 880px;
    margin: 0 auto;
  }

  &__logos {
    overflow: hidden;
    background: none;
    white-space: nowrap;
    position: relative;
    margin-top: 3rem;
  }

  &__logos-slide {
    display: inline-block;
    animation: 25s slide infinite linear; // keep in mind: length of array
    transition: 0.1s ease-in-out;

    img {
      width: 250px;
      height: 125px;
      object-fit: contain;
      margin-right: 1rem;
    }

    &--default-grayscale img {
      filter: grayscale(100%);
      transition: filter 0.1s ease-in-out;

      &:hover {
        filter: grayscale(0%);
      }
    }
  }

  &__link {
    text-decoration: none;
  }

  &__logos:hover &__logos-slide {
    animation-play-state: paused;
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }
}
