@use '../theme/type' as *;
@use '../theme/buttons' as *;
@use '../global/mixins' as *;

.post-grid {
  padding: var(--section-padding-mobile);

  @include breakpoint(lg) {
    padding: var(--section-padding-desktop);
  }

  background-color: var(--color-brand-secondary-light);
  max-width: 920px;
  margin: 0 auto;

  &__heading {
    @extend %heading-large;

    color: var(--color-secondary);
    margin-bottom: 3rem;
    text-align: center;
  }

  &__text {
    @extend %text;

    margin-bottom: 50px;
  }

  &__post-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px 15px;

    @include breakpoint(md) {
      gap: 30px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(xl) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__link {
    @extend %button-secondary;

    display: block;
    margin: 1.5rem auto;
    max-width: fit-content;
  }

  &__load-more-button {
    @extend %button;

    display: block;
    margin: 64px auto 0;
    width: fit-content;
  }
}
