@use '../global/mixins' as *;
@use '../global/global' as *;
@use '../theme/type' as *;
@use '../theme/buttons' as *;

.sales-arguments {
  padding: 80px 0;

  @include breakpoint(lg) {
    padding: 100px 0;
  }

  &--heading {
    @extend %heading-large;

    color: var(--color-primary);
    text-align: center;
    margin-bottom: 2.5rem;

    @include breakpoint(lg) {
      margin-bottom: 3.5rem;
    }
  }

  &__card {
    text-align: center;
    color: var(--color-primary);
    background-color: var(--color-blue-light);
    padding: 1.5rem 1rem 1rem;

    @include breakpoint(lg) {
      padding: 2.5rem 1rem 1rem;
    }

    &--title {
      font-size: 1rem;
      font-weight: 800;
      line-height: 1.2;
      margin-bottom: 0.5rem;
      min-height: 2rem;

      @include breakpoint(lg) {
        min-height: 3rem;
        font-size: 1.25rem;
      }
    }

    &--text {
      line-height: 1.2;
    }

    &--img {
      height: 2rem;
      margin-bottom: 0;

      @include breakpoint(lg) {
        height: 3rem;
        margin-bottom: 1rem;
      }
    }
  }
}
