@use '../theme/type' as *;
@use '../theme/buttons' as *;
@use '../global/mixins' as *;

.testimonials {
  padding: 100px 0 202px;

  &--grey {
    background-color: var(--color-secondary-light);
  }

  &__heading {
    @extend %heading-large;

    margin-bottom: 60px;
    text-align: center;
  }

  &__item {
    background-color: var(--color-white);
    padding: 42px 25px 51px 24px;

    @include breakpoint(xl) {
      padding: 68px 138px;
    }

    &--none {
      background-color: var(--color-secondary-light);
    }
  }

  &__text {
    @extend %text;

    margin-bottom: 15px;
  }

  &__author {
    @extend %text;

    font-weight: 700;
  }

  &__company {
    @extend %text;
  }

  &__quote {
    position: absolute;
    height: 50px;
    width: 54px;
    z-index: 1;

    @include breakpoint(xl) {
      height: 70px;
      width: 75px;
    }

    &--left {
      bottom: -30px;
      left: 10px;

      @include breakpoint(xl) {
        bottom: -50px;
        left: 20px;
      }
    }

    &--right {
      top: -30px;
      right: 10px;

      @include breakpoint(xl) {
        top: -50px;
        right: 20px;
      }
    }
  }

  &__indicators {
    bottom: -102px;
  }

  /* stylelint-disable*/
  /* BS wouldn't let me override this otherwise */
  &__indicator {
    height: 10px !important;
    width: 10px !important;
    background-color: var(--color-primary) !important;
    border: 0 !important;
  }
  /* stylelint-enable*/

  &__prev-icon {
    background-image: url('~icon/arrow_right.svg');
    transform: scaleX(-1);
  }

  &__next-icon {
    background-image: url('~icon/arrow_right.svg');
  }

  &__control {
    opacity: 1;
    display: none;

    @include breakpoint(xl) {
      display: block;
    }

    &--next {
      right: -120px;
    }

    &--prev {
      left: -120px;
    }
  }
}
