@use '../theme/type' as *;
@use '../theme/buttons' as *;
@use '../global/mixins' as *;

.testimonials {
  padding: var(--section-padding-desktop);

  &__heading {
    @extend %heading-large;

    margin-bottom: 2rem;
    color: var(--color-primary);
    text-align: center;
  }

  &__wrapper {
    position: relative;
  }

  &__item {
    padding: 2rem;
    text-align: left;
    position: relative;
    background: var(--color-secondary-light);

    * {
      white-space: initial;
    }

    &--grid {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--author {
      @extend %text;

      color: var(--color-primary);
      font-weight: 700;
      margin-right: 1rem;
    }

    &--link {
      color: var(--color-primary);
    }

    &--icon-wrapper {
      height: 3.4rem;
    }

    &--icon > img {
      height: 3.4rem;
      max-width: 130px;
      object-fit: contain;
    }
  }

  &__text {
    @extend %text;

    height: 210px;
    padding-bottom: 0;
    overflow: scroll;
    mask-image: linear-gradient(180deg, #ffffff 60%, transparent);
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

    p {
      margin-bottom: 2rem;
      color: var(--color-text-static);
      max-height: fit-content;
    }
  }

  &__text::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  &__arrows {
    position: absolute;
    bottom: -3rem;
    right: 1rem;

    @include breakpoint(lg) {
      bottom: -3.5rem;
      right: 0;
    }
  }

  &__arrow {
    font-size: 1.5rem;
    background: none;
    border: none;
    margin-left: -15px;
    color: var(--color-primary);

    @include breakpoint(lg) {
      font-size: 1.7rem;
      margin-left: -10px;
    }
  }
}
