@use '../theme/type' as *;
@use '../theme/buttons' as *;
@use '../global/mixins' as *;

.testimonials {
  padding: 40px 0;

  @include breakpoint(lg) {
    padding: 96px 0;
  }

  &__icon {
    align-content: center;
    margin-bottom: 32px;
  }

  &__heading {
    @extend %heading-large;

    color: var(--color-primary);
    margin-bottom: 48px;
    text-align: center;
  }

  &__row {
    display: none;
    justify-content: center;
    gap: 16px;
    flex-direction: column;

    @include breakpoint(lg) {
      display: flex;
      flex-direction: row;
    }
  }

  &__carousel {
    @include breakpoint(lg) {
      display: none;
    }
  }

  &__item {
    background-color: var(--color-secondary-light);
    padding: 16px;

    @include breakpoint(lg) {
      padding: 48px;
    }

    &-wrapper {
      width: unset;
    }
  }

  &__text {
    @extend %text;

    color: var(--color-primary);
    margin-bottom: 16px;
  }

  &__author {
    @extend %text;

    color: var(--color-primary);
    font-weight: 700;
  }

  &__navigation {
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
  }

  &__arrows {
    width: auto;
    display: flex;
    gap: 16px;
  }

  &__indicators {
    position: unset;
    width: auto;
    margin: 0 0 0 16px;

    @include breakpoint(lg) {
      display: none;
    }
  }

  /* stylelint-disable*/
  /* BS wouldn't let me override this otherwise */
  &__indicator {
    height: 8px !important;
    width: 8px !important;
    background-color: var(--color-primary) !important;
    border: 0 !important;
    border-radius: 100px;
  }
  /* stylelint-enable*/

  &__prev-icon {
    background-image: url('~icon/arrow_right.svg');
    height: 16px;
  }

  &__next-icon {
    background-image: url('~icon/arrow_right.svg');
    transform: scaleX(-1);
    height: 16px;
  }

  &__control {
    opacity: 1;
    display: block;
    position: unset;

    @include breakpoint(lg) {
      display: none;
    }
  }
}
