@use '../global/mixins' as *;
@use '../global/global' as *;
@use '../theme/type' as *;
@use '../theme/buttons' as *;

.text-only {
  padding: var(--section-padding-mobile);

  @include breakpoint(lg) {
    padding: var(--section-padding-desktop);
  }

  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }

  &__heading {
    @extend %heading-large;

    color: var(--color-secondary);
    margin-bottom: 1rem;
    word-break: break-word;

    @include breakpoint(lg) {
      margin-bottom: 2rem;
    }
  }

  &__button {
    @extend %button;

    display: block;
    margin-top: 50px;
  }

  &__text {
    color: var(--color-primary);
  }

  ul {
    li {
      margin-bottom: 0.5rem;
    }
  }
}
