@use '../global/mixins' as *;
@use '../global/global' as *;
@use '../theme/type' as *;
@use '../theme/buttons' as *;

.text-only {
  padding: 40px 0;

  @include breakpoint(lg) {
    padding: 96px 0;
  }

  &__heading {
    @extend %heading-large;

    color: var(--color-secondary);
    margin-bottom: 1rem;

    @include breakpoint(lg) {
      margin-bottom: 0;
    }
  }

  &__button {
    @extend %button;

    display: block;
    margin-top: 50px;
  }

  &__text {
    color: var(--color-primary);
  }
}
