@use '../theme/type' as *;
@use '../theme/buttons' as *;
@use '../global/mixins' as *;

.timeline {
    padding: 100px 0;

    &__heading {
        @extend %heading-large;

        text-align: center;
        color: var(--color-secondary);
        max-width: 75%;
        margin: 0 auto;
    }

    &__text {
        @extend %text;

        text-align: center;
        color: var(--color-primary);
        line-height: 1.1875;
        max-width: 85%;
        margin: 32px auto 0;
    }

    &__slider {
        position: relative;
    }

    &__elements {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 64px;
        margin-top: 68px;
    }

    &__element {
        display: flex; 
        flex-direction: column;
        gap: 64px;
        justify-content: center; 
        align-items: flex-start;
    }

    &__element-image {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }

    &__element-circle {
        height: 16px;
        width: 16px;
        background-color: var(--color-primary);
        border-radius: 50%;
        margin: 0 auto;
    }

    &__element-year {
        @extend %sub-heading;

        color: var(--color-primary);
        text-align: center;
        margin: 0 auto;
        display: block;
    }

    &__element-text {
        @extend %text;

        text-align: center;
        color: var(--color-primary);
        line-height: 1.1875;
        margin: 21px auto 0;
    }
}