@use '../global/mixins' as *;
@use '../global/global' as *;
@use '../theme/type' as *;
@use '../theme/buttons' as *;

.video-section {
  position: relative;
  background: var(--color-secondary-light);
  padding: var(--section-padding-mobile);

  /* stylelint-disable */
  @include breakpoint(lg) {
    padding: var(--section-padding-desktop) !important;
  }
  /* stylelint-enable */

  &__content {
    position: relative;
    z-index: 2;
  }

  &__heading {
    @extend %heading-large;

    color: var(--color-primary);
    margin-bottom: 0.5rem;
    word-break: break-word;
  }

  &__sub-heading {
    @extend %sub-heading;

    margin-bottom: 2rem;
    color: var(--color-secondary);
  }

  &__text {
    color: var(--color-primary);
    margin: 2rem 0;
  }

  &__video {
    position: relative;
    padding-bottom: 56.25%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__button {
    @extend %button;

    width: fit-content;
    display: block;
    margin: 1.5rem 0;
  }
}
