@use '../../theme/type' as *;
@use '../../theme/buttons' as *;
@use '../../global/mixins' as *;

.post-card {
  box-shadow: 0 0 20px rgba(0 0 0 / 5%);

  &__image {
    width: 100%;
    aspect-ratio: 5 / 4;
    height: auto;
    object-fit: cover;
    display: block;
    margin-bottom: 0.5rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2rem 1.5rem;
    flex-grow: 1;
    min-height: 300px;
  }

  &__title {
    @extend %sub-heading;

    font-size: 1.5rem;
    color: var(--color-primary);
    display: block;
    margin-bottom: 15px;
  }

  &__text {
    @extend %text;

    color: var(--color-primary);
    /* stylelint-disable */
    display: -webkit-box;
    /* stylelint-enable */
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 1rem;
  }

  &__link {
    @extend %button-secondary;

    margin-top: auto;
    max-width: fit-content;
  }
}
