@use '../../theme/type' as *;
@use '../../theme/buttons' as *;
@use '../../global/mixins' as *;

.post-card {
  height: 100%;
  box-shadow: 0 0 20px rgba(0 0 0 / 5%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__image {
    width: 100%;
    aspect-ratio: 5 / 4;
    height: 225px;
    object-fit: cover;
    display: block;
    margin-bottom: 0.5rem;
  }

  &__content {
    padding: 2rem 1.5rem;
  }

  &__title {
    @extend %sub-heading;

    font-size: 1.5rem;
    color: var(--color-primary);
    display: block;
    margin-bottom: 15px;
    line-height: 1.8rem;
  }

  &__text {
    @extend %text;

    color: var(--color-primary);
    /* stylelint-disable */
    display: -webkit-box;
    /* stylelint-enable */
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 1rem;
  }

  &__link-wrapper {
    padding: 0 1.5rem 3.5rem;
  }

  &__link {
    @extend %button-secondary;

    max-width: fit-content;
    margin-top: auto;
  }
}
