@use 'mixins' as *;
@use 'global' as *;
@use '../theme/type' as *;
@use '../theme/buttons' as *;

.bottom-bar {
  background-color: var(--color-white);
  padding: 30px 0;

  &__text {
    font-size: 0.75rem;
    color: var(--color-text);

    &--highlight {
      color: var(--color-primary);
    }
  }

  &__company {
    @include breakpoint(lg) {
      text-align: right;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 100%;
    padding-bottom: 18px;

    @include breakpoint(lg) {
      justify-content: flex-start;
      padding-bottom: 0;
    }
  }

  &__link {
    color: var(--color-primary);
    text-decoration: none;
    font-family: var(--font-primary);
    font-size: .8rem;
    font-weight: 700;

    &:hover {
      color: var(--color-primary);
    }
  }

  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 75%;
    margin: 0 auto 1.5rem;

    @include breakpoint(lg) {
      max-width: unset;
      margin: unset;
      justify-content: flex-end;
    }
  }

  &__icon {
    max-height: 24px;
    width: auto;
  }
}
