@use 'mixins' as *;
@use 'global' as *;
@use '../theme/type' as *;
@use '../theme/buttons' as *;

.footer {
  background: var(--color-white);
  padding: 40px 0;
  border-bottom: 3px solid var(--color-primary);

  @include breakpoint(lg) {
    padding: 48px 0 66px;
  }

  &__logo {
    width: 200px;
    height: auto;
    object-fit: contain;
  }

  &__social-links {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;

    @include breakpoint(lg) {
      margin-bottom: 0;
      justify-content: flex-end;
    }
  }

  &__social-link {
    height: 20px;
    width: 20px;
  }

  &__social-link-icon {
    height: 100%;
    max-height: 20px;
    width: 100%;
    object-fit: contain;
  }

  &__heading {
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 37px;
    border-bottom: 3px solid var(--color-highlight);
    width: fit-content;

    @include breakpoint(lg) {
      margin-top: 0;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include breakpoint(lg) {
      gap: 20px;
    }
  }

  &__link {
    color: var(--color-primary);
    text-decoration: none;
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 700;
    width: fit-content;

    &:hover {
      color: var(--color-primary);
    }
  }

  &__icons {
    display: flex;
    gap: 32px;
    margin-top: 24px;
  }

  &__icon {
    width: 30px;
    height: 30px;
  }

  &__address {
    @extend %text;
  }

  &__contact-link {
    color: var(--color-text);
    margin-top: 10px;
    display: block;

    &:hover {
      color: var(--color-text);
    }
  }
}
