@forward './variables';
@use './mixins' as *;

* {
  font-family: var(--font-primary);
}

html {
  font-size: 16px;
}

main,
body {
  min-height: 80vh;
  margin-top: calc(var(--header-height-mobile) + var(--topbar-height));

  @include breakpoint(xl) {
    margin-top: calc(var(--header-height) + var(--topbar-height));
  }
}

.header-height {
  margin-top: var(--header-height-mobile);

  @include breakpoint(xl) {
    margin-top: var(--header-height);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

a {
  text-decoration: underline;
  color: var(--color-primary);

  &:hover {
    color: var(--color-primary);
  }
}

p {
  margin-bottom: 0;
}
