@forward './variables';
@use './mixins' as *;

* {
  font-family: var(--font-primary);
}

html,
.maweo-wysiwyg p {
  @include breakpoint(md) {
    font-size: var(--text-font-size);
    line-height: 1.35rem;
  }
}

main,
body {
  min-height: 80vh;
  margin-top: calc(var(--header-height-mobile) + var(--topbar-height));

  @include breakpoint(xl) {
    margin-top: calc(var(--header-height) + var(--topbar-height));
  }
}

.header-height {
  margin-top: var(--header-height-mobile);

  @include breakpoint(xl) {
    margin-top: var(--header-height);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

a {
  text-decoration: underline;
  color: var(--color-primary);

  /* stylelint-disable */
  &:hover {
    color: var(--color-primary);
    opacity: 0.7;
  }

  // Excl. images
  &:has(img) {
    &:hover {
      opacity: 1;
    }
  }
  /* stylelint-enable */
}

p {
  margin-bottom: 0;
}
