@use '../global/mixins' as *;
@use '../global/global' as *;
@use '../theme/type' as *;
@use '../theme/buttons' as *;

.nav-mobile {
  position: fixed;
  top: var(--topbar-height);
  z-index: 99;
  width: 100%;
  background: var(--color-white);

  &__logo {
    height: 20px;
    object-fit: contain;
    max-width: 140px;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__wrapper {
    position: relative;
    max-width: 1300px;
    padding: 0 15px;
    height: var(--header-height-mobile);
    line-height: var(--header-height-mobile);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 100%;
    top: calc(var(--header-height-mobile) + var(--topbar-height) - 1px);
    margin: 0;
    background: var(--color-primary);
    display: block;
    line-height: 30px;
    overflow-y: scroll;
    box-shadow: 0 15px 15px rgba(0 0 0 / 18%);
    transition: all 0.3s ease;
    list-style: none;
    padding: 40px 15px;

    li {
      list-style: none;
      padding: 5px 0;
    }

    &--from-right {
      right: -100%;
    }

    &--from-left {
      left: -100%;
    }

    &:focus {
      outline: none;
    }
  }

  &__menu-button {
    display: block;
    color: var(--color-primary);
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    position: relative;
    top: 2px;

    &:hover {
      color: var(--color-black);
    }
  }

  #menu-btn:checked ~ .nav-mobile__links {
    &--from-right {
      right: 0%;
    }

    &--from-left {
      left: 0%;
    }
  }

  #menu-btn:not(:checked) ~ .nav-mobile__menu-button.close-btn {
    display: none;
  }

  #menu-btn:checked ~ .nav-mobile__menu-button.menu-btn {
    display: none;
  }

  #close-btn:checked ~ .nav-mobile__menu-button.menu-btn {
    display: block;
  }

  &__accordion-button-inner {
    border-bottom: 2px solid var(--color-highlight);
    padding-bottom: 2px;
  }

  // override bootstrap's default
  .accordion {
    padding: 0;
    background-color: transparent;

    button {
      background: none;
      color: var(--color-white);
      outline: none;
      border: none;
      font-weight: 700;
      font-size: 1.125rem;
      letter-spacing: 0.36px;
      width: fit-content;

      &:focus,
      &:active {
        outline: none;
        border: none;
        border-bottom: 2px solid var(--color-highlight);
      }
    }
  }

  &__accordion-link-button {
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__accordion-link {
    text-decoration: none;
    color: var(--color-white);
    font-weight: 700;
    font-size: 1.125rem;
    letter-spacing: 0.36px;
    width: fit-content;
    border-bottom: 2px solid var(--color-highlight);
    padding-bottom: 2px;
  }

  .accordion-item {
    border: none;
    background: none;
    color: var(--color-primary);

    &::after {
      outline: none;
      color: var(--color-primary);
    }
  }

  .accordion-button {
    text-align: left;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin-bottom: 20px;
    color: var(--color-primary);
    font-weight: 700;
    font-size: 1.125rem;
    letter-spacing: 0.36px;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: var(--color-primary);
      font-weight: 700;
      font-size: 1.125rem;
      letter-spacing: 0.36px;
    }

    i {
      font-size: 1.2rem; // chevron size
      color: var(--color-primary);

      &:focus {
        color: var(--color-primary);
        border: 0;
        box-shadow: none;
        outline: 0;
      }
    }

    &:focus {
      box-shadow: none;
      border-color: rgba(0 0 0 / 12.5%);
    }

    &::after {
      margin-left: 26px;
      width: 1.125rem;
      height: 1.125rem;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3e%3c!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3e%3cpath d='M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z'/%3e%3c/svg%3e");
      filter: invert(100%);
    }

    &:not(.collapsed)::after {
      transform: rotate(0);
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3e%3c!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3e%3cpath d='M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z'/%3e%3c/svg%3e");
      filter: invert(100%);
    }
  }

  .accordion-collapse {
    color: var(--color-primary);
    background: transparent;
  }

  .accordion-body {
    ul {
      list-style: none;
      padding: 0 0 0 28px;
      background: transparent;
      margin-bottom: 20px;
    }

    li {
      background: transparent;
    }

    a {
      text-decoration: none;
      color: var(--color-highlight);
      font-size: 1rem;
      border: 0;
    }
  }

  /* stylelint-disable */
  .accordion .accordion-body {
    padding: 0 !important;
    background: none;
  }
  /* stylelint-enable */

  &__input {
    display: none;
  }

  &__actions {
    margin-right: 32px;
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__actions-icon {
    width: 15px;
    height: auto;
  }

  // LANGUAGE SWITCH

  /* Bootstrap overrides/nesting */
  /* stylelint-disable */
  .language-switch {
    .dropdown {
      margin-left: -1rem;
    }

    .dropdown-toggle {
      border: none;
      font-weight: 700;
      color: var(--color-primary);

      &:focus {
        box-shadow: none;
        outline: none;
      }
    }

    .dropdown-menu {
      min-width: 1rem;
      border-radius: 0;
      border: 2px solid black;
      padding: 0.5rem 0;
      transform: translate(0, 64px) !important;

      li {
        line-height: 1;

        a {
          padding: 0.9rem;

          &:hover {
            background: none;
          }
        }
      }
    }
  }
  /* stylelint-enable */
}
