@use '../global/mixins' as *;
@use '../global/global' as *;
@use '../theme/type' as *;
@use '../theme/buttons' as *;

.nav-desktop {
  position: fixed;
  top: var(--topbar-height);
  z-index: 99;
  width: 100%;
  background: var(--color-white);

  &__logo {
    /* stylelint-disable */
    height: var(--header-height) !important; // Important needed, because WooCommerce overwrites all Image Styles :D
    width: 100%;
    padding: 14px 0;
    object-fit: contain;
    max-width: 160px !important; // Important needed, because WooCommerce overwrites all Image Styles :D
    margin-left: -15px;
    /* stylelint-enable */
  }

  &__wrapper {
    position: relative;
    width: 100%;
    padding: 0 30px;
    height: var(--header-height);
    line-height: var(--header-height);
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  &__links li a {
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 0;
    color: var(--color-primary);
    font-weight: 700;
    font-size: 1.125rem;
    letter-spacing: 0.36px;
  }

  // MEGA MENU
  &__mega-box {
    position: absolute;
    top: calc(100% + 10px);
    padding: 0 30px;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;

    &__content {
      margin-top: 1px;
      padding: 20px 20px 30px;
      box-shadow: 0 6px 10px rgba(0 0 0 / 5%);
      width: 100%;
      display: flex;
      align-items: self-start;
    }

    &__sub-menu {
      line-height: 40px;
      margin: 0;
      min-width: 210px;
      padding: 0;

      ul {
        list-style: none;
        padding-left: 0;
      }
    }

    &__sub-menu-title {
      color: var(--color-black);
      font-weight: 500;
    }

    &__sub-menu-title-border {
      width: 30px;
      border-bottom: 1px solid var(--color-black);
      margin: 0 0 12px 9px;
    }
  }

  // DROPDOWN MENU
  &__dropdown {
    position: absolute;
    background: var(--color-white);
    top: calc(100% + 10px);
    margin-left: -40px;
    line-height: 18px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0 0 0 / 5%);
    margin-top: 2px;
    padding: 35px 40px;
    border: 2px solid var(--color-primary);
    border-top: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;

    &--link {
      color: var(--color-black);
      display: block;
      border-radius: 0;
      background: none;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        opacity: 0.8;
      }
    }
  }

  &__links-wrapper {
    display: flex;
    align-items: center;
    gap: 100px;
  }

  &__links {
    display: inline-flex;
    gap: 60px;
    padding: 0;
    margin: 0;
    justify-content: center;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 42px;
  }

  &__actions-icon {
    height: 21px;
  }

  &__links li {
    list-style: none;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
    max-width: 230px;
    color: var(--color-black);

    &:hover {
      .nav-desktop__mega-box__sub-menu-title,
      .nav-desktop__mega-box__sub-menu-link,
      .nav-desktop__dropdown--link {
        background: none;
      }
    }
  }

  &__links li:hover .nav-desktop__dropdown,
  &__links li:hover .nav-desktop__mega-box {
    transition: all 0.3s ease;
    top: 100%;
    opacity: 1;
    visibility: visible;
  }

  &__menu-button {
    img {
      filter: brightness(0);
      height: 18px;
      cursor: pointer;
      margin-left: 10px;

      &:hover {
        color: var(--color-primary);
      }
    }
  }

  // LANGUAGE SWITCH

  /* Bootstrap overrides/nesting */
  /* stylelint-disable */
  @include breakpoint(xl) {
    .language-switch {
      .dropdown {
        margin-left: -1rem;
      }

      .dropdown-toggle {
        border: none;
        font-weight: 700;
        color: var(--color-primary);

        &:focus {
          box-shadow: none;
          outline: none;
        }
      }

      .dropdown-menu {
        min-width: 1rem;
        max-width: 100px;
        border-radius: 0;
        border: 2px solid black;
        padding: 0.5rem 0;
        transform: translate(0, 80px) !important;

        li {
          line-height: 1;

          a {
            padding: 0.9rem;
            color: var(--color-primary);
            font-weight: bold;

            &:hover {
              background: none;
            }
          }
        }
      }
    }
  }
  /* stylelint-enable */
}
