:root {
  --topbar-height: 40px;
  --header-height: 80px;
  --header-height-mobile: 64px;
  --font-heading: 'Poppins';
  --font-primary: 'proxima-nova', sans-serif;
  --section-padding-desktop: 96px;
  --section-padding-mobile: 40px;
}
