@use '../theme/type' as *;
@use '../theme/buttons' as *;
@use '../global/mixins' as *;

.blog-single {
  padding: 60px 0;
  position: relative;

  @include breakpoint(lg) {
    max-width: 950px;
    margin: 0 auto;
  }

  &__back {
    color: var(--color-primary);
    font-weight: bold;

    &:hover {
      color: var(--color-primary);
    }
  }

  &__heading {
    @extend %heading-large;

    max-width: 800px;
    margin-top: 0.8rem;
    color: var(--color-primary);
  }

  &__info {
    color: var(--color-primary);
  }

  &__teaser-image {
    height: 320px;
    width: 100%;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(0 0 0 / 10%);

    @include breakpoint(lg) {
      height: 392px;
    }
  }

  ul {
    padding-top: 0;
    list-style-type: none;
  }

  ul > li::before {
    content: '–';
    position: absolute;
    margin-left: -1.7em;
  }

  &__introduction {
    margin-top: 2rem;
    color: var(--color-primary);

    @include breakpoint(lg) {
      width: 720px;
      margin: 2rem auto;
    }
  }

  &__content {
    margin-top: 4rem;
    margin-bottom: 1rem;
    color: var(--color-primary);

    @include breakpoint(lg) {
      width: 720px;
      margin: 2rem auto 1rem;
    }
  }

  &__content-item {
    margin-bottom: 2rem;

    &__heading {
      @extend %heading-large;

      color: var(--color-primary);
      font-size: 1.5rem;
      margin-bottom: 8px;
    }

    &__image {
      margin: 2rem 0;
      width: 100%;
      aspect-ratio: auto;
      object-fit: contain;
      max-height: 80vh;
    }
  }
}
