@use '../theme/type' as *;
@use '../theme/buttons' as *;
@use '../global/mixins' as *;
@use '../theme/colors' as *;

/* stylelint-disable */
.cart-title {
  padding-top: 2rem;
  color: var(--color-primary);
}

.wp-block-woocommerce-cart {
  margin-top: 1rem;

  a {
    color: var(--color-primary);
    font-weight: 600;

    &:hover {
      color: var(--color-primary);
    }
  }

  .wc-block-components-totals-coupon__button {
    @extend %button-secondary;

    padding: 0.5rem 1rem;

    a {
      color: var(--color-white);

      &:hover {
        color: var(--color-primary);
      }
    }
  }

  .proceed-to-checkout-button {
    padding: 1rem;

    a {
      @extend %button;

      width: 100%;
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      color: var(--color-white);

      &:hover {
        color: var(--color-primary);
      }
    }
  }
}

// Empty Cart
.cart-title {
  padding-top: 2rem;
}

.wc-block-cart__empty-cart__title {
  text-align: center;
  margin-top: 0rem;
}

.has-text-align-center {
  text-align: center;
  margin-bottom: 4rem;

  a {
    @extend %button;

    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    color: var(--color-white);

    &:hover {
      color: var(--color-primary);
    }
  }
}

.wp-block-heading {
  padding-top: 2rem;
}

.wc-block-grid__products .wc-block-grid__product-image img {
  width: 100%;
  height: 140px !important;
  object-fit: contain;
}

.wc-block-grid__product-add-to-cart {
  a {
    @extend %button;

    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    color: var(--color-white);

    &:hover {
      color: var(--color-primary);
    }
  }
}
/* stylelint-enable */
