@use '../global/mixins' as *;
@use '../theme/colors' as *;
@use '../theme/buttons' as *;

// make woocommerce-notices-wrapper to snackbar
.woocommerce-notices-wrapper {
  div {
    position: fixed;
    bottom: 30px;
    left: 30px;
    background: var(--color-gray-light);
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    max-width: 250px;
    font-size: 0.8rem;
    padding: 0 2rem 1.5rem;
    animation: hide-notice 5s forwards;

    &::before {
      display: none;
    }

    @keyframes hide-notice {
      90% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }
  }
}

// WooCommerce & Addons Overrides

/* stylelint-disable */
.woocommerce img,
.woocommerce-page img {
  * {
    max-width: 100% !important;
    height: auto !important;
  }
}

// Variable Product Add To Cart Button
.woocommerce div.product form.cart .button {
  @extend %button;

  height: 50px;
  max-width: fit-content;
}

// Woo Variations
.woo-variation-swatches .wvs-style-squared.variable-items-wrapper .variable-item:not(.radio-variable-item) {
  border-radius: 0;
  padding: 16px 24px;
  background: transparent;

  div {
    color: var(--color-primary);
  }

  &::hover {
    box-shadow: none;
  }
}

.woo-variation-swatches
  .variable-items-wrapper
  .variable-item:not(.radio-variable-item).button-variable-item.selected:not(.no-stock) {
  background: var(--color-secondary-light);
  box-shadow: 0px 0px 0px 2px rgba(2 89 89 / 100%);

  div {
    color: var(--color-primary);
  }
}

.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product p.price,
.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product span.price {
  font-weight: bold;
  color: var(--color-primary);
}

// Hide Reset Button for Variation Select
.reset_variations {
  display: none !important;
}
/* stylelint-enable */
