@use '../theme/type' as *;
@use '../global/mixins' as *;
@use '../theme/colors' as *;
@use '../theme/buttons' as *;

.liebwerk-product-card {
  margin-bottom: 24px;

  @include breakpoint(lg) {
    margin-bottom: 0;
  }

  &:hover {
    text-decoration: none;
    color: grey;
  }

  &--item {
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0 0 0 / 5%);
    position: relative;

    &:hover {
      box-shadow: 0 0 10px 0 rgba(0 0 0 / 10%);
    }
  }

  &__image {
    background: var(--color-secondary-light);

    img {
      width: 100%;
      height: 200px;
      object-fit: contain;
      border-radius: 1rem;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      @include breakpoint(lg) {
        height: 295px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  &__content {
    padding: 2rem 1.5rem 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100%;
    text-align: center;

    @include breakpoint(lg) {
      padding: 2rem 3rem 0;
    }
  }

  &__title {
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-primary);
    margin-bottom: 1rem;

    @include breakpoint(lg) {
      font-size: 1.5rem;
    }
  }

  /* stylelint-disable */
  &__description {
    font-size: 0.875rem;
    line-height: 1.5;
    color: var(--color-black);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 42px;
    margin-bottom: 1rem;
    white-space: normal !important;
  }
  /* stylelint-enable */

  &__price-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    @include breakpoint(lg) {
      gap: 8px;
    }
  }

  &__price {
    color: var(--color-primary);
    font-size: 1rem;
    font-weight: 600;

    &--sale {
      color: grey;
      text-decoration: line-through;
    }

    @include breakpoint(lg) {
      font-size: 1rem;
    }
  }

  &__bottom {
    margin-top: 1rem;
    padding: 0 1.5rem 1.5rem;
    display: block;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    @include breakpoint(xl) {
      display: flex;
      align-items: center;
    }
  }

  &__add-to-cart-button {
    @extend %button;

    font-size: 0.8rem;
    display: block;
    width: 100%;
    padding: 8px 6px;
    margin-bottom: 8px;

    @include breakpoint(xl) {
      font-size: 1rem;
      padding: 9px;
      margin-bottom: 0;
    }
  }

  &__details-button {
    @extend %button-secondary;

    font-size: 0.8rem;
    display: block;
    width: 100%;
    padding: 8px 6px;

    @include breakpoint(xl) {
      font-size: 1rem;
      padding: 9px;
    }
  }
}
