@use '../global/mixins' as *;
@use '../global/global' as *;

// TOP
.maweo-border-top {
  &--brand {
    border-top: inset 2px var(--color-brand);
  }

  &--primary {
    border-top: inset 2px var(--color-primary);
  }

  &--secondary {
    border-top: inset 2px var(--color-secondary);
  }

  &--black {
    border-top: inset 2px var(--color-black);
  }

  &--white {
    border-top: inset 2px var(--color-white);
  }
}

// BOTTOM
.maweo-border-bottom {
  &--brand {
    border-bottom: inset 2px var(--color-brand);
  }

  &--primary {
    border-bottom: inset 2px var(--color-primary);
  }

  &--secondary {
    border-bottom: inset 2px var(--color-secondary);
  }

  &--black {
    border-bottom: inset 2px var(--color-black);
  }

  &--white {
    border-bottom: inset 2px var(--color-white);
  }
}
