:root {
  --color-primary: #025959;
  --color-secondary: #7aa6e1;
  --color-secondary-light: #efefef;
  --color-highlight: #A0A603;
  --color-gold: #cda580;
  --color-beige: #f5ede6;
  --color-black: #000000;
  --color-black-light: #333333;
  --color-white: #ffffff;
  --color-text: #1d1d1d;
  --color-background-overlay: rgb(255 255 255 / 30%);
  --color-background-overlay-light: rgb(255 255 255 / 30%);
  --color-background-overlay-dark: rgb(0 0 0 / 30%);
}
