@font-face {
  font-family: Poppins;
  src: url('../assets/fonts/Poppins-Bold.woff2') format('woff2'),
    url('../assets/fonts/Poppins-Bold.woff') format('woff'), url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url('../assets/fonts/Poppins-Black.woff2') format('woff2'),
    url('../assets/fonts/Poppins-Black.woff') format('woff'),
    url('../assets/fonts/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url('../assets/fonts/Poppins-ExtraBold.woff2') format('woff2'),
    url('../assets/fonts/Poppins-ExtraBold.woff') format('woff'),
    url('../assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
