@use '../global/mixins' as *;

%heading-x-large {
  font-family: var(--font-heading);
  color: var(--color-text);
  font-size: 1.625rem;
  font-weight: 700;

  @include breakpoint(lg) {
    font-size: 4rem;
  }
}

%heading-large {
  font-family: var(--font-heading);
  color: var(--color-text);
  font-size: 1.625rem;
  font-weight: 700;

  @include breakpoint(lg) {
    font-size: 3rem;
  }
}

%heading-small {
  font-family: var(--font-heading);
  color: var(--color-text);
  font-size: 1.5rem;
  font-weight: 700;

  @include breakpoint(lg) {
    font-size: 1.625rem;
  }
}

%sub-heading {
  color: var(--color-primary);
  font-family: var(--font-heading);
  font-size: 1.5rem;
  font-weight: 700;

  @include breakpoint(lg) {
    font-size: 1.625rem;
  }
}

%text {
  color: var(--color-text);
  font-size: 1.125rem;
  line-height: 1.35rem;
}
